{% load i18n i18n_extras currency_filters category_tags static %}
{% get_current_language as CURRENT_LANG %}

<nav class="navbar navbar-expand-lg navbar-light med-unified-navbar sticky-top">
    <div class="container-fluid px-lg-5"> <a class="navbar-brand mr-4" href="/catalogue">
            <img src="{% static 'images/logo.png' %}" alt="Logo" width="120">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#unifiedNavbar" aria-controls="unifiedNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="unifiedNavbar">

            <ul class="navbar-nav mr-auto align-items-center w-100">
                <li class="nav-item dropdown mr-lg-4">
                    <a class="nav-link dropdown-toggle med-nav-highlight" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Products" %}
                    </a>
                    <div class="dropdown-menu shadow-sm border-0" aria-labelledby="navbarDropdown">
                        {% category_tree depth=1 as tree_categories %}
                        <a class="dropdown-item" href="{% url 'catalogue:index' %}">{% trans "All products" %}</a>
                        {% if tree_categories %}
                            <div class="dropdown-divider"></div>
                            {% for tree_category in tree_categories %}
                                <a class="dropdown-item" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                            {% endfor %}
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'offer:list' %}">{% trans "Offers" %}</a>
                    </div>
                </li>

                <li class="nav-item flex-grow-1 max-width-search d-none d-lg-block">
                    {% include "oscar/partials/search.html" %}
                </li>
            </ul>

            <ul class="navbar-nav ml-auto align-items-center">
                
                <li class="nav-item mx-2">
                    <form action="{% url 'set_language' %}" method="post" class="m-0 d-flex align-items-center">
                        {% csrf_token %}
                        {% if CURRENT_LANG == "en" %}
                            <input type="hidden" name="next" value="{% switch_language_url 'da' %}">
                            <button type="submit" name="language" value="da" class="lang-btn" title="Switch to Danish">
                                <img src="{% static 'images/Flag_of_Denmark.png' %}" alt="Danish" class="lang-flag">
                            </button>
                        {% else %}
                            <input type="hidden" name="next" value="{% switch_language_url 'en' %}">
                            <button type="submit" name="language" value="en" class="lang-btn" title="Switch to English">
                                <img src="{% static 'images/Flag_of_the_United_Kingdom.png' %}" alt="English" class="lang-flag">
                            </button>
                        {% endif %}
                    </form>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item mx-2">
                        <a href="{% if num_unread_notifications > 0 %}{% url 'customer:notifications-inbox' %}{% else %}{% url 'customer:summary' %}{% endif %}" class="nav-link">
                            <i class="far fa-user"></i> {% trans "Account" %}
                            {% if num_unread_notifications > 0 %}
                                <span class="badge badge-warning">{{ num_unread_notifications }}</span>
                            {% endif %}
                        </a>
                    </li>
                    {% if user.is_staff or perms.partner.dashboard_access %}
                        <li class="nav-item mx-1">
                            <a href="{% url 'dashboard:index' %}" class="nav-link" title="Dashboard"><i class="fas fa-list-ul"></i></a>
                        </li>
                    {% endif %}
                    <li class="nav-item mx-1">
                        <a href="{% url 'customer:logout' %}" class="nav-link text-muted" title="Logout"><i class="fas fa-sign-out-alt"></i></a>
                    </li>
                {% else %}
                    <li class="nav-item mx-2">
                        <a href="{% url 'customer:login' %}" class="nav-link text-nowrap">
                            <i class="fas fa-user mr-1"></i> {% trans "Login" %}
                        </a>
                    </li>
                {% endif %}

                <li class="nav-item ml-lg-3 mt-3 mt-lg-0">
                    {% block mini_basket %}{% include "oscar/partials/mini_basket.html" %}{% endblock %}
                </li>

            </ul>
        </div>
        
        <div class="w-100 d-block d-lg-none mt-2">
            {% include "oscar/partials/search.html" %}
        </div>

    </div>
</nav>